<ion-header>
  <ion-toolbar>
    <ion-title>
      RESULTADOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-list>
  <ion-item>
    <ion-label>BRA</ion-label>
    <ion-note slot="end">?</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>UK</ion-label>
    <ion-note slot="end">?</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>USA</ion-label>
    <ion-note slot="end">?</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>EURO</ion-label>
    <ion-note slot="end">?</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>JAP</ion-label>
    <ion-note slot="end">?</ion-note>
  </ion-item>
    </ion-list>
    <ion-button  expand="block" color="medium" href="calculo">Calcular Novamente</ion-button>
      <ion-button  expand="block" color="danger" href="relato">Relatar modelos fora do padrão</ion-button>
  

</div>
</ion-content>
