<ion-header>
  <ion-toolbar>
    <ion-title>
    CALCULO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


   <p>Meça da seguinte maneira:<p>

    <ion-img src="../assets/icon/Screenshot_298.png"></ion-img>
    <p><b>Qual o comprimento do seu pé?</b></p>
    <ion-input [(ngModel)] = "comp"></ion-input>
    <p><b>Qual a largura do seu pé?</b></p>
    <ion-input [(ngModel)] = "large"> </ion-input>

    <ion-button  expand="block" color="medium" href="resultado" > Calcular </ion-button>


</ion-content>
