<ion-header>
  <ion-toolbar>
    <ion-title>
      MEDEPÉ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <p><b>Login</b></p>
    <ion-input [(ngModel)]="valor">
      </ion-input>
      <p><b>Senha</b></p>
    <ion-input [(ngModel)]="valor2">

  </ion-input>
  <ion-button  expand="block" color="medium" href="cadastro" > Cadastre-se </ion-button>
  <ion-button  expand="block" color="medium" href="calculo">Entrar</ion-button>
  <ion-img src="../assets/icon/Screenshot_294.png"></ion-img>

</div>
</ion-content>
